<p id="notice"><%= notice %></p>

<h1>Listing Players</h1>

<table>
  <thead>
    <tr>
      <th>Tron name</th>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Minutes</th>
      <th>Team</th>
      <th>Year</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= player.tron_name %></td>
        <td><%= player.firstname %></td>
        <td><%= player.lastname %></td>
        <td><%= player.minutes %></td>
        <td><%= player.team_id %></td>
        <td><%= player.year %></td>
        <td><%= link_to 'Show', player %></td>
        <td><%= link_to 'Edit', edit_player_path(player) %></td>
        <td><%= link_to 'Destroy', player, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Player', new_player_path %>
