<p id="notice"><%= notice %></p>

<p>
  <strong>Tron name:</strong>
  <%= @player.tron_name %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @player.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @player.lastname %>
</p>

<p>
  <strong>Minutes:</strong>
  <%= @player.minutes %>
</p>

<p>
  <strong>Team:</strong>
  <%= @player.team_id %>
</p>

<p>
  <strong>Year:</strong>
  <%= @player.year %>
</p>

<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
